.test {
  text-align: center;
  }
.my_image {
  margin-left: 100px;
  display: inline-block;
  max-width: 1500px;
  max-height: 2000px;
  }
.my_table {
  margin-left: 100px;
  max-width: 500px;
  max-height: 800px;
}
.filter {
  margin-left: 100px;
}